<div id="mongodb"></div>
<div class="content">
  <div class="title">
    <h1>What is MongoDB?</h1>
  </div>
  <div class="description">
    <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program,
      MongoDB uses JSON-like documents with schemas.</p>
  </div>
</div>
<div class="container">
  <div class="cards">
    <div class="hover-black-button">
      <div class="card">
        <img class="card-img-top" src="../../../../assets/curriculum.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">TXT Curriculum</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img class="card-img-top" src="../../../../assets/documentation.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Documentation</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="https://docs.mongodb.com/" target="_blank">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
    <div class="hover-black-button">
      <div class="card">
        <img class="card-img-top" src="../../../../assets/mongoDBIcon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Learn MongoDB</h5>
        </div>
      </div>
      <div class="button-position">
        <a href="">
          <button class="btn btn-dark alignment">View More</button>
        </a>
      </div>
    </div>
  </div>
</div>