.cards {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card{
    margin-right: 10%;
}

.hover-black-button {
    flex: 1;
}

.card-title {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 8%;
}


.alignment {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: thin solid #333;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 90px;
}

.alignment:hover {
    color: #fff;
    background-color: #333;
}

.button-position {
    position: relative;
    bottom: 6.5%;
    right: 22%;
    left: 26%;
}



.container{
    width: 100%
}


.cup {
    position: relative;
    margin-top: 40ex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 180px;
    border: 6px solid black;
    border-top: 2px transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url('../../../assets/milk.png');
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 0 6px black, 0 20px 35px rgba(0,0,0,1) ;
    background-color: black;
}

.cup:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid black;
    right: -57px;
    top: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

@keyframes animate {
    0% {
        background-position: 0 100px;
    }
    10% {
        background-position: 0 100px;
    }
    40% {
        background-position: 1000px 10px;
    }
    80% {
        background-position: 2000px 100px;
    }
    100% {
        background-position: 2200px 100px;
    }
}
h1{
    font-weight: 200;
}
.h1{
    margin-top: -8%;
    margin-bottom: 18%;
    font-size: 64px;
    font-weight: 200;
}