<div class="cup" >

</div>
<div class="title">
  <h1 class="h1">Milk</h1>  
</div>

<div class="title">
  <h1>Explore.</h1>
</div>
<div class="container">
<div class="cards">
  <div class="hover-black-button">
    <div class="card" >
      <img (click)="toTechCurriculum()" class="card-img-top" src="../../../assets/forumIcon.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chat Rooms</h5>
      </div>
    </div>
    <div class="button-position">
      <button (click)="toTechCurriculum()" class="btn btn-dark alignment">View More</button>
    </div>
  </div>
  <div class="hover-black-button">
    <div class="card" >
      <img (click)="toYouthDevelopment()" class="card-img-top" src=""
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
      </div>
    </div>
    <div class="button-position">
      <button (click)="toYouthDevelopment()" class="btn alignment">View More</button>
    </div>
  </div>
  <div class="hover-black-button">
    <div class="card" >
      <img (click)="toTXTCulture()" class="card-img-top" src=""
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Centers</h5>
      </div>
    </div>
    <div class="button-position">
      <button (click)="toTXTCulture()" class="btn btn-dark alignment">View More</button>
    </div>
  </div>
  